@import '../../assets/scss/base/variables.module',
'../../assets/scss/base/mixins.module',
'../../assets/scss/base/placeholders.module';
@mixin top-center {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.background-configration {
    @include top-center;
    position: absolute;
    width: 100%;
    height: 99vh;
    background: url(https://media.giphy.com/media/3orntPDQO9sdQAZ4vT/giphy.gif) no-repeat;
    background-size: cover;
}


/* custom */

.background-screen-winner {
    position: absolute;
    $length: calc(100% + 100px);
    @include circle($length);
    background-color: $bg-color-primary;
    top: -50vh;
    transform: rotate(-2.78deg);
    left: calc(-1 * ($length - 100% + 10%) / 2);
}

.image-huychuong {
    padding: 12px;
    height: 194px;
    width: 194px;
    background-color: #58d7b4;
    background-image: url(../../assets/image/huychuong.svg);
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    @include top-center;
}

.container-winner-content {
    position: absolute;
    top: 51%;
}

.done-clock {}

.done-clock-text {
    font-size: 1.2rem;
    font-weight: 500;
}

.bg-winner-content {
    z-index: 1;
    @mixin phao {
        display: block;
        content: '';
        position: absolute;
        background-image: url(../../assets/image/phao.webp);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        top: -11%;
    }
    &::before {
        @include phao;
        left: 0;
    }
    &::after {
        @include phao;
        right: 0;
        transform: rotate(-90deg);
    }
}