.popup-suggest_scan {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 35px;
  right: 4px;
  font-size: 20px;
  // margin-top: 20px;
  background-color: white;
  color: #000;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
