// $bg-color-body: #fff1d9;
// $bg-color-primary: #f6be8f;
// $bg-color-button-primary: #77552f;
// $color-text-button: white;
$bg-color-box-primary: #FFFFFF;
// radius
$radius-box: 0.8rem;
$radius-button: 5px;
// test
$bg-color-body: #E0E7FF;
$bg-color-primary: #FFEDD5;
$bg-color-button-primary: #0284C7;
$bg-color-button-hover-primary: #0369A1;
;
$color-text-button: white;