:root {
    --pixel-size: 1;
}

#character-container {
    position: absolute;
    left: -16px;
    top: 0;
    width: calc(64px * var(--pixel-size));
    height: calc(64px * var(--pixel-size));
}

.Character {
    width: calc(64px * var(--pixel-size));
    height: calc(64px * var(--pixel-size));
    overflow: hidden;
    position: relative;
}

.Character_spritesheet {
    width: calc(576px * var(--pixel-size));
    position: absolute;
}

.animation_crt {
    animation: moveSpritesheet 1s steps(9) infinite;
}

.Character_shadow {
    position: absolute;
    width: calc(64px * var(--pixel-size));
    height: calc(64px * var(--pixel-size));
}

.pixelart {
    image-rendering: pixelated;
}

.face-left {
    top: calc(-64px * var(--pixel-size));
}

.face-down {
    top: calc(-128px * var(--pixel-size));
}

.face-right {
    top: calc(-196px * var(--pixel-size));
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-100%, 0, 0)
    }
}